$red: #F60505;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

.Container {
	margin-right: 30px;
	margin-left: 30px;
}

.jumbotron {
	background-color: $red;
	color: white;
	@include margenes(50px, 20px);
}


.card-hotel {
	flex: 1 200px;
	padding: 2px 2px 2px 2px; 
	margin-right: 30px;
	margin-left: 30px; 
	@include margenes(20px, 0px);
}

.btn-reserva {
	width: 100%;
	border-radius: 0px;
}

.nav-link {
	color: #E3E3E3;
}


a {
	text-decoration: none;
}

a:hover {
	color: white;
}



/*Footer Comments*/
footer {
	padding: 10px 10px 0 10px;
	background-color: $red;
	@include margenes(20px, 0px);
}

.footer-address-icon {
	margin-right: 8px;
}

.footer-link-socialmedia {
	color: #E3E3E3;
}

.footer-address-text {
	color: #E3E3E3;
}

.footer-nav {
	color: #E3E3E3;
}